.android-inner{
    margin-top: 3%;
    text-align: center;
    color: white;

}
.android-devices{
    line-height: 2;
    margin-left: 13%;
    color: white;
}

P{
    color: white;
}

.android-button{
    margin-left: 13%;
}